<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" >Safari Security</a>
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']" >Admin</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/tickets']" >Tickets</a>
      </li>
    </ul>
    <div *ngIf="loggedIn()">
        <h2>Welcome {{ authService.decodedToken?.unique_name | titlecase }}</h2>
        <a class="logout" (click)="logout()">Logout</a>
    </div>
    
    <form
    *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()">
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Username"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
</div>
</nav>

